{{ template "base" . }}

{{ define "title" }}
		Virtual Termnal
{{ end }}

{{ define "content" }}
    <div class="content">

        <div class="row">

            <div class="col-2"></div> <!-- dummy left column -->

            <div class="col-8">

                <h1 class="mt-3">
                    Terminal
                </h1>

                <div class="alert alert-danger text-center d-none"
                         id="card_messages">
                </div>

                <form action="/payment-succeeded"
                      method="post"
                      name="charge_form"
                      id="charge_form"
                      class="mt-3 d-block needs-validation charge-form"
                      autocomplete="off"
                      novalidate="">

                    <!-- Amoun input -->
                    <div class="mt-3">
                        <label for="amount"
                               class="form-label">Amount
                        </label>

                        <input class="form-control"
                               type="text"
                               id="amount"
                               name="amount"
                               required="">
                    </div>

                    <!-- Card Holder Name input -->
                    <div class="mt-3">
                        <label for="holder_name"
                               class="form-label">Cardholder Name
                        </label>

                        <input class="form-control"
                               type="text"
                               id="holder_name"
                               name="holder_name"
                               required="">
                    </div>

                    <!-- Email input -->
                    <div class="mt-3">
                        <label for="email"
                               class="form-label">Email
                        </label>

                        <input class="form-control"
                               type="email"
                               id="email"
                               name="email"
                               required="">
                    </div>

                    <!-- car number input will build by stripe -->
                    <div class="mt-3">
                            <label class="card-element form-label" for="card_element">
                                Credit Card
                            </label>

                        <div id="card_element"
                             class="form-control">
                        </div>

                        <div class="alert-danger text-center" id="card-errors" role="alert"></div>
                        <div class="alert-success text-center" id="card-success" role="alert"></div>

                    </div>

                    <a href="javascript:void(0)"
                       class="mt-3 btn btn-outline-primary"
                       onclick="validate()"
                       id="pay_button">Charge Card
                    </a>

                    <div id="processing_payment"
                        class="text-center d-none">
                        <div class="spinner-border text-primary"
                            role="status">
                            <span class="visually-hidden">
                                Loading...
                            </span>
                        </div>
                    </div>

                    <input type="hidden"
                           name="payment_intent"
                           id="payment_intent">

                    <input type="hidden"
                           name="payment_method"
                           id="payment_method">

                    <input type="hidden"
                           name="payment_amount"
                           id="payment_amount">

                    <input type="hidden"
                           name="payment_currency"
                           id="payment_currency">

                </form>

            </div> <!-- end of center column -->

            <div class="col-2"></div> <!-- dummy right column -->

        </div> <!-- end of row -->

    </div>
{{ end }}

{{ define "js" }}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        let card;
        // let stripe = Stripe("pk_test_51MUo7XLIB9oOE4eBF8Cz7QKu0mOgAFLCp5B5V7MwZKA7oNcK0PcmYrDmcpxe9GeDQ6xac4OFmgZmWVUn5nD5WHzi00QiToW769");
        let stripe = Stripe({{ index .StringMap "pb_test" }})

        const cardMessages = document.getElementById("card_messages");
        const payButton = document.getElementById("pay_button");
        const processingMessage = document.getElementById("processing_payment");

        function hidePayButton() {
            payButton.classList.add("d-none");
            processingMessage.classList.remove("d-none");
        }

        function showPayButton() {
            payButton.classList.remove("d-none");
            processingMessage.classList.add("d-none");
        }

        function showCardError(msg) {
            cardMessages.classList.add("alert-danger");
            cardMessages.classList.remove("alert-success");
            cardMessages.classList.remove("d-none");
            cardMessages.innerText = msg;
        }

        function showCardMessage(msg) {
            cardMessages.classList.add("alert-success");
            cardMessages.classList.remove("alert-danger");
            cardMessages.classList.remove("d-none");
            cardMessages.innerText = msg;
        }


        function validate() {
            let form = document.getElementById("charge_form");
            if (form.checkValidity() === false) {
                this.event.preventDefault();
                this.event.stopPropagation();
                form.classList.add("was-validated");
                return;
            }

            form.classList.add("was-validated");
            hidePayButton();

            let amountToCharge = String(parseFloat(document.getElementById("amount").value) * 100);

            let payload = {
                amount: amountToCharge,
                currency: "usd",
            };

            const reqOpts = {
                method: "post",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(payload),
            };

            console.log("fetch from /api/payment-intent");
            fetch("{{ .Api }}/api/payment-intent", reqOpts)
                .then(res => {
                    console.log("responce from back");
                    console.log(res);
                    return res.text();
                })
                .then(res => {
                    let data;

                    console.log(res);

                    try {
                        data = JSON.parse(res);
                        stripe.confirmCardPayment(data.client_secret, {
                            payment_method: {
                                card: card,
                                billing_details: {
                                    name: document.getElementById("holder_name").value,
                                }
                            }
                        })
                        .then((res) => {
                            if (res.error) {
                                console.log("error from stripe");
                                console.log(res.error);
                                showCardError(res.error.message);
                                showPayButton();

                            } else if (res.paymentIntent) {
                                console.log("payment intent went through");

                                if (res.paymentIntent.status === "succeeded") {
                                    console.log("card was charged");
                                    document.getElementById("payment_method").value = res.paymentIntent.payment_method_types[0];
                                    document.getElementById("payment_intent").value = res.paymentIntent.id;
                                    document.getElementById("payment_amount").value = res.paymentIntent.amount;
                                    document.getElementById("payment_currency").value = res.paymentIntent.currency;

                                    // hide spinner
                                    processingMessage.classList.add("d-none");
                                    showCardMessage("Success");
                                    // submit form;
                                    document.getElementById("charge_form").submit();
                                }
                            }
                        });
                    } catch (err) {
                        console.log("unable to fetch data");
                        console.log(err);

                        showCardError("invalid res from payment gateway");
                        showPayButton();
                    }
                });
        }

        (function() {
            console.log("loaded stripe");
            const elements = stripe.elements();
            const style = {
                base: {
                    fontSize: "16px",
                    lineHeight: "24px",
                }
            };

            card = elements.create("card", {
                style: style,
                hidePostalCode: true,
            });

            card.mount("#card_element");

            card.addEventListener("change", function(e) {
                var err = document.getElementById("card-errors");
                if (e.error) {
                    err.classList.remove("d-none");
                    err.textContent = e.error.message;
                } else {
                    err.classList.add("d-none");
                    err.textContent = "";
                }
            });
        })();
    </script>
{{ end }}
