{{ template "base" . }}

{{ define "title" }}
	Wicker
{{ end }}

{{ define "css" }}
	<style>
		.center-img {
			display: flex;
			justify-content: center;
		}
	</style>
{{ end }}

{{ define "content" }}

	<div class="row mt-5">
		
		<div class="col-2"></div>

		<div class="col-8">
			<div class="card">

				<div class="center-img">
					<img src="/static/images/{{ index .StringMap "itemName" }}.png" 
						class="card-img-top w-50" 
						alt="{{ index .StringMap "itemName" }}">
				</div>

				<div class="card-body">
					<h5 class="card-title">
						{{ index .StringMap "itemName" }}
					</h5>

					<p class="card-text">
						This is a fine, man-made {{ index .StringMap "itemName" }}.
					</p>

					<form class="buy_form"
					      id="buy_form"
					      action=""
					      method="post">

						<div class="mb-3">
							<label for="exampleInputEmail1" 
								class="form-label">Email address
							</label>

							<input type="email" 
								class="form-control" 
								id="exampleInputEmail1" 
								aria-describedby="emailHelp">

							<div id="emailHelp" 
							     class="form-text">We'll never share your email with anyone else.
							</div>
						</div>

						<div class="mb-3">
							<label for="exampleInputPassword1" 
								class="form-label">Password
							</label>
							<input type="password" class="form-control" id="exampleInputPassword1">
						</div>

						<div class="mb-3 form-check">
							<input type="checkbox" 
							       class="form-check-input" 
							       id="exampleCheck1">

							<label class="form-check-label" 
								for="exampleCheck1">Check me out
							</label>
						</div>

						<button type="submit" 
							class="btn btn-primary">Submit
						</button>
					</form>

					<a href="javascript:void(0)" 
					   onclick="showBuyForm()"
					   id="show_buy_form_button"
					   class="btn btn-primary">
							Buy {{ index .StringMap "itemName" }}
					</a>
				</div>
			</div>
		</div>

		<div class="col-2"></div>

	</div>
{{ end }}

{{ define "js" }}
		<script>
			
			const form = document.getElementById("buy_form");
			const showBuyFormButton = document.getElementById("show_buy_form_button");

			function showBuyForm() {
				form.classList.remove("d-none");
				showBuyFormButton.classList.add("d-none");
			}

			(() => {
				console.log("charde-item page loaded");
				form.classList.add("d-none");
			})();
		</script>
{{ end }}
